.start {
	background: url(../images/start.png) no-repeat center;
	height: 24px;
	width: : 24px;
	border: none !important;
}
.stop {
	background: url(../images/stop.png) no-repeat center;
	height: 24px;
	width: : 24px;
	border: none !important;
}
.viewDetail {
	background: url(../images/detail.png) no-repeat center;
	height: 24px;
	width: : 24px;
	border: none !important;
}

a:hover, a:focus {
    color: yellow;
    text-decoration: underline;
}
